<h2 xmlns="">插件管理</h2>
<hr>
<div style="display: flex;flex-wrap: nowrap;height: 60px;">
  <div style="width: 15%;margin-right: 0px;">
    <nz-upload nzAction="/plugin/anaPlugin" [nzCustomRequest]="customReq" [nzHeaders]="headerUp">
      <button nz-button>
        <i nz-icon type="upload"></i><span>上传本地插件</span>
      </button>
    </nz-upload>
  </div>
  <div style="width: 20%">
    <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
      <input type="text" nz-input placeholder="请输入插件名">
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="select()"><i nz-icon type="search"></i></button>
    </ng-template>
  </div>
</div>
<br>
<nz-table #basicTable [nzData]="records" [nzPageIndex]="1" [nzPageSize]="10" [nzScroll] [nzShowQuickJumper]="true"
          [nzShowSizeChanger]="true" [nzBordered]="true">
  <thead>
  <tr>
    <th>编号</th>
    <th>插件名</th>
    <th>插件说明</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of basicTable.data let i=index">
    <td>{{i+1}}</td>
    <td>{{item.pluginName}}</td>
    <td>{{item.pluginDescription}}</td>
    <td>
      <a href="#" routerLink="/plugin" (click)="toUsePluginPage(item)">执行</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a href="javascript:void(0);" (click)="del(item.pluginId,i)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
