<h2 xmlns="">插件管理</h2>
<hr>
<!--<label>上传插件</label>-->
<!--<input type="file" name="files" style="padding-top:3px;width: 22%;" #newFiles (change)="upload(newFiles)"-->
<!--class="form-control"-->
<!--value="选择文件">-->
<div style="width: 20%">
  <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
    <input type="text" nz-input placeholder="请输入插件名">
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="select()"><i nz-icon type="search"></i></button>
  </ng-template>
</div>

<br>

<nz-table #basicTable [nzData]="records" [nzPageIndex]="1" [nzPageSize]="10" [nzScroll] [nzShowQuickJumper]="true"
          [nzShowSizeChanger]="true" [nzBordered]="true">
  <thead>
  <tr>
    <th>插件名</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of basicTable.data">
    <td>{{item.pluginDescription}}</td>
    <td>
      <a href="">执行</a>
      <nz-divider nzType="vertical" routerLink="/plugin" (click)="toUsePluginPage(item)"></nz-divider>
      <a href="javascript:void(0);" (click)="del(item.pluginId)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
