<div class="container" style="margin-top: 10px;margin-left: 100px;">
  <div class="form-group">
    <a routerLink="/plugin" style="font-size:18px;">执行插件</a>
  </div>
  <div class="form-group">
    <label style="font-size:18px;">插件说明</label>
    <input type="text" class="form-control" [(ngModel)]="opmEntity.description" name="description" placeholder="插件说明">
  </div>
  <div class="form-group">
    <label style="font-size:18px;">插件代码</label>
    <textarea class="form-control" [(ngModel)]="opmEntity.body" name="body" (change)="acquireSql()"
              placeholder="自定义sql 格式为 update set prama1=#{param1}  prama2=#{param2} where param3=#{param3}">
      </textarea>
  </div>
  <div class="form-group">
    <input type="checkbox" (click)="backUp()" id="isBackUp">
    <label style="margin-left: 10px;font-size: 18px;" for="isBackUp">是否备份</label>
  </div>
  <div *ngIf="isBackup">
    <div class="form-group">
      <label>备份</label>
      <input type="text" class="form-control" [(ngModel)]="opmEntity.back" name="back" (change)="acquireSql()"
             placeholder="备份">
    </div>
  </div>

  <div *ngIf="parameters">
    <div class="row" style="margin-top: 15px;text-align: center" *ngFor="let parameter of parameters">
      <div class="col-md-3" style="display: flex;">
        <label class="label-style">说明:</label>
        <input type="text" [(ngModel)]="parameter.description" class="form-control" name="pDescription"
               placeholder="请输入参数说明">
      </div>
      <div class="col-md-3" style="display: flex;">
        <label class="label-style">类型:</label>
        <select [(ngModel)]="parameter.type" class="form-control">
          <option value="text">text</option>
          <option value="number">number</option>
          <option value="date">date</option>
        </select>
      </div>
      <div class="col-md-6" style="display: flex;">
        <label class="label-style">提示:</label>
        <input type="text" [(ngModel)]="parameter.tips" class="form-control" name="pTips" placeholder="请输入提示">
      </div>
    </div>
  </div>
  <div class="form-group">
    <p style="font-size: 20px;color: red;">{{msg}}</p>
  </div>
  <input type="button" class="btn btn-default" style="margin-top: 10px;" value="保存插件" (click)="savePlugIn()">
</div>
