<h2 xmlns="">日志记录</h2>
<hr>

<div class="row">
  <div class='col-sm-3'>
    <div class="form-group">
      <label>选择开始时间：</label>
      <!--指定 date标记-->
      <div class="form-group">
        <input type="datetime-local" class="form-control" [(ngModel)]="startDate">
      </div>
    </div>
  </div>
  <div class='col-sm-3'>
    <div class="form-group">
      <label>选择结束时间：</label>
      <!--指定 date标记-->
      <div class="form-group">
        <input type="datetime-local" class="form-control"  [(ngModel)]="endDate">
      </div>
    </div>
  </div>
  <div class='col-sm-3'>
    <input type="button" class="btn btn-default" value="查询" (click)="select()">
  </div>
</div>
<br>

<table class="table table-bordered">
  <tr>
    <th>编号</th>
    <th>sql</th>
    <th>说明</th>
    <th>时间</th>
    <th>用户编号</th>
    <th>备份主体</th>
    <th>操作</th>
  </tr>

  <tr *ngFor="let item of records">
    <td>{{item.recordId}}</td>
    <td>{{item.recordBody}}</td>
    <td>{{item.recordDescription}}</td>
    <td>{{item.recordDate}}</td>
    <td>{{item.userId}}</td>
    <td>{{item.recordBackup}}</td>
  </tr>
</table>
<app-paging [page]="page" (getdata)="getdata()" [countArr]="[1,2,3,4]"></app-paging>


