<h2>日志记录</h2>
<hr>
<div>
  <nz-date-picker
    [nzDisabledDate]="disabledStartDate"
    nzShowTime
    nzFormat="yyyy-MM-dd HH:mm:ss"
    [(ngModel)]="startValue"
    nzPlaceHolder="Start"
    (ngModelChange)="onStartChange($event)"
    (nzOnOpenChange)="handleStartOpenChange($event)">
  </nz-date-picker>&nbsp;&nbsp;
  <nz-date-picker
    [nzDisabledDate]="disabledEndDate"
    nzShowTime
    nzFormat="yyyy-MM-dd HH:mm:ss"
    [(ngModel)]="endValue"
    nzPlaceHolder="End"
    [nzOpen]="endOpen"
    (ngModelChange)="onEndChange($event)"
    (nzOnOpenChange)="handleEndOpenChange($event)">
  </nz-date-picker>&nbsp;&nbsp;
  <button nz-button nzType="primary" (click)="select()"><i nz-icon type="search"></i>Search</button>
</div>
<br>

<nz-table #basicTable [nzData]="records" [(nzPageIndex)]=this.pageNum [(nzPageSize)]=this.pageSize
          [(nzTotal)]=this.total [nzScroll] [nzShowQuickJumper]="true"
          [nzShowSizeChanger]="true" [nzBordered]="true" [nzFrontPagination]="false" (nzPageIndexChange)="getdata()"
          (nzPageSizeChange)="getdata()">
  <thead>
  <tr>
    <th>编号</th>
    <th>时间</th>
    <th>插件名称</th>
    <th>说明</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of basicTable.data; let i = index;">
    <td>{{i+1}}</td>
    <td>{{item.recordDate}}</td>
    <td>{{item.pluginName}}</td>
    <td>{{item.recordDescription}}</td>
    <td>
      <a href=javascript:void(0); (click)="showModal(item)">详情</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a href="javascript:void(0);">恢复</a>
    </td>
  </tr>
  </tbody>
</nz-table>

<!--模态页面-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="日志详情" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="1400px">
  <div *ngIf="currentItem">
    <nz-table #basicTable [nzBordered]="true">
      <thead>
        <tr>
          <th>记录主体</th>
          <th>备份主体</th>
          <th>用户ID</th>
          <th>用户名</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{currentItem.recordBody}}</td>
          <td>{{currentItem.recordBackup}}</td>
          <td>{{currentItem.userId}}</td>
          <td>{{currentItem.name}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-modal>
