<h2 xmlns="">日志记录</h2>
<hr>

<nz-date-picker
  [nzDisabledDate]="disabledStartDate"
  nzShowTime
  nzFormat="yyyy-MM-dd HH:mm:ss"
  [(ngModel)]="startValue"
  nzPlaceHolder="Start"
  (ngModelChange)="onStartChange($event)"
  (nzOnOpenChange)="handleStartOpenChange($event)">
</nz-date-picker>

<nz-date-picker
  [nzDisabledDate]="disabledEndDate"
  nzShowTime
  nzFormat="yyyy-MM-dd HH:mm:ss"
  [(ngModel)]="endValue"
  nzPlaceHolder="End"
  [nzOpen]="endOpen"
  (ngModelChange)="onEndChange($event)"
  (nzOnOpenChange)="handleEndOpenChange($event)">
</nz-date-picker>
<input type="button" class="btn btn-default" value="查询" (click)="select()">

<table class="table table-bordered">
  <tr>
    <th>编号</th>
    <th>sql</th>
    <th>说明</th>
    <th>时间</th>
    <th>用户编号</th>
    <th>备份主体</th>
    <th>操作</th>
  </tr>

  <tr *ngFor="let item of records">
    <td>{{item.recordId}}</td>
    <td>{{item.recordBody}}</td>
    <td>{{item.recordDescription}}</td>
    <td>{{item.recordDate}}</td>
    <td>{{item.userId}}</td>
    <td>{{item.recordBackup}}</td>
  </tr>
</table>
<app-paging [page]="page" (getdata)="getdata()" [countArr]="[1,2,3,4]"></app-paging>


