<h2>全量备份</h2>
<hr>
<div class="row">
  <div class='col-sm-3'>
    <div class="form-group">
      <label>选择开始时间：</label>
      <!--指定 date标记-->
      <div class="form-group">
        <input type="datetime-local" class="form-control" [(ngModel)]="startDate">
      </div>
    </div>
  </div>
  <div class='col-sm-3'>
    <div class="form-group">
      <label>选择结束时间：</label>
      <!--指定 date标记-->
      <div class="form-group">
        <input type="datetime-local" class="form-control"  [(ngModel)]="endDate">
      </div>
    </div>
  </div>
  <div class='col-sm-3'>
    <input type="button" class="btn btn-default" value="查询" (click)="select()">
  </div>
</div>
<br>

<table class="table table-bordered">
  <tr>
    <th>编号</th>
    <th>备份时间</th>
    <th>备份用户</th>
    <th>备份路径</th>
    <th>用户</th>
  </tr>

  <tr *ngFor="let item of records">
    <td>{{item.fullBackupId}}</td>
    <td>{{item.fullBackupDate}}</td>
    <td>{{item.fullBackupUserId}}</td>
    <td>{{item.fullBackupFilePath}}</td>
    <td>{{item.name}}</td>
  </tr>
</table>
<app-paging [page]="page" (getdata)="getdata()" [countArr]="[1,2,3,4]"></app-paging>


