<h2>全量备份</h2>
<hr>
<div>
  <nz-date-picker
    [nzDisabledDate]="disabledStartDate"
    nzShowTime
    nzFormat="yyyy-MM-dd HH:mm:ss"
    [(ngModel)]="startValue"
    nzPlaceHolder="Start"
    (ngModelChange)="onStartChange($event)"
    (nzOnOpenChange)="handleStartOpenChange($event)">
  </nz-date-picker>&nbsp;&nbsp;
  <nz-date-picker
    [nzDisabledDate]="disabledEndDate"
    nzShowTime
    nzFormat="yyyy-MM-dd HH:mm:ss"
    [(ngModel)]="endValue"
    nzPlaceHolder="End"
    [nzOpen]="endOpen"
    (ngModelChange)="onEndChange($event)"
    (nzOnOpenChange)="handleEndOpenChange($event)">
  </nz-date-picker>&nbsp;&nbsp;
  <button nz-button nzType="primary" (click)="select()"><i nz-icon type="search"></i>Search</button>
</div>
<br>

<nz-table #basicTable [nzData]="records" [(nzPageIndex)]=this.pageNum [(nzPageSize)]=this.pageSize
          [(nzTotal)]=this.total [nzScroll] [nzShowQuickJumper]="true"
          [nzShowSizeChanger]="true" [nzBordered]="true" [nzFrontPagination]="false" (nzPageIndexChange)="getdata()"
          (nzPageSizeChange)="getdata()">
  <thead>
  <tr>
    <th>编号</th>
    <th>备份时间</th>
    <th>备份用户</th>
    <th>备份路径</th>
    <th>用户</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let item of basicTable.data; let i = index;">
    <td>{{i+1}}</td>
    <td>{{item.fullBackupDate}}</td>
    <td>{{item.fullBackupUserId}}</td>
    <td>{{item.fullBackupFilePath}}</td>
    <td>{{item.name}}</td>
    <td>
      <a href="javascript:void(0);">恢复</a>
    </td>
  </tr>
  </tbody>
</nz-table>

<!--翻页组件-->
<!--<app-paging [page]="page" (getdata)="getdata()" [countArr]="[1,2,3,4]"></app-paging>-->
