<div class="container" style="margin-top: 70px">
  <div class="form-group">
    <label>上传插件</label>
    <input type="file" name="files" #newFiles (change)="upload(newFiles)"  class="form-control" value="选择文件">
  </div>
</div>
<div class="container">
  <div class="form-group">
    <label style="font-size: 30px;">{{opmEntity?.description}}</label>
  </div>
  <div *ngIf="opmEntity">
    <div *ngFor="let p of opmEntity.params;let i = index;" class="form-group">
      <label style="font-size: 16px;">{{p.description}}</label>
      <input [type]="p.type" class="form-control" [name]="p.name" #newValue
             (change)="changeParamterName(newValue.value,i)" placeholder="{{p.tips}}">
    </div>
    <input type="button" class="btn btn-default" style="margin-top: 10px;" value="执行插件" (click)="submit()">
  </div>
</div>
